*{
    box-sizing: border-box;
    color: #242E52;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin: 0;
    padding:0;
}

main , header {
    width: 75%;
    margin:5% 12.5%; 
}

p{
    color:#B3B2B7;
}

button{
    border:none;
    box-shadow: 0px 5px 8px 0px #F3603B80;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    height: 100%;
}

.navBar {
    width: 50%;
}

.navMenu {
    display: flex;
    justify-content: center;
}

.navMenu li {
    list-style: none;
    padding: 0 2.5%;
}

.btnGetStarted{
    border-radius: 50px;
    background-color: #F3603B;
    color: white;
    padding:1% 2.5%;
}

a{
    text-decoration: none;
}

.linkMenu:hover{
    color: #242E5280;
}

.btnGetStarted:hover{
    background-color: #ee927b;
}

.seccionTop{
    display: flex;
}

.mainIntro{
    display: flex;
    flex-direction: column;
    padding: 7.5% 13.5% 7.5% 0;
    justify-content: space-around;
}
h1{
    font-size: 2.5em;
}

.mainIntro button{
    padding: 3% 7%;
}

.secctionFeatures{
    display: flex;
    width: 100%;
    padding: 10% 0;
}

.sectionFeaturesLeft{
    width: 100%;
    margin-top:5%;
}

.sectionFeaturesLeft h2{
    font-size: 2.25em;
}

.sectionFeaturesLeft p{
    padding-top: 7%;
    padding-right: 35%;
}

.sectionFeaturesRight{
    width: 100%;
}

.sectionFeaturesRight section{
    margin: 6% 0;
}

.sectionFeaturesRight h4{
    padding: 5% 0;
}

.sectionFeaturesRight p{
    padding-left: 17%;
    line-height: 160%;
}

span{
    background-color:#F3603B;
    padding:2% 5%;
    margin-right: 3%;
    border-radius: 50px;
    color: white;
}

.sectionOpinion{
    display: flex;
    flex-direction: column;
    align-items:center;
}

.personOpinion{
    display: flex;
    padding:  10% 0 5%;
}

.personOpinion section{
    background-color:rgb(243, 243, 243);
    display: flex;
    padding:5% .45% 0;
    flex-direction: column;
    align-items:center;
    position: relative;
}

.conteinerImg{
    position:absolute;
    top: -72px;
}

.personSeparated{
    padding: 5%;
    text-align: center;
}


.seccionBotton{
    background-color:#F3613C;
    background-image: url(../img/bg-simplify-section-desktop.svg);
    padding:  5% 10%;
    display: flex;
    justify-content: space-between;
    background-size:auto;
    margin-top: 12%;
}

.seccionBotton h2{
    font-size: 2em;
    color: white;
    width:50%;
    padding:0 5%;
}

#btnWhite{
    background-color:white;
    color: #F3613C;
    padding: 0 5%;
    margin:1.25% 0% 1.25%
}

#btnWhite:hover{
    background-color:rgb(240, 240, 240);
    color: #f3613c91
}

footer{
    background-color: #1E1E26;
    display: flex;
    justify-content: space-around;
    height: 100%;
    padding: 4% 0;
}

.seccionRedes{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.seccionRedes div {
    display: flex;
    justify-content: space-between;
    width:105%;
}

.linkContact{
    list-style-type: none;
    padding-bottom:15px;    
}

.linkContact a{
    color: white; 
}

.linkContact a:hover{
    color: #F3603B;
}

i {
    color: white;
}

i:hover{
    color: #F3603B;
}

.secctionSub{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width:25%;
    position: relative;
}

form{
    display: flex;
    justify-content: flex-end;
}

#email{
    padding: 3% 8% ;
    border-radius: 50px;
}

#email::placeholder{
    color: #F3603B;
}

.btnSendForm{
    color: white;
    background-color: rgb(243, 96, 59);
    padding: 3% 8%;
    margin:0 0 0 5%;
    border-radius: 50px;
}

.btnSendForm:hover{
    background-color: #ee927b;
}

h6{
    display: flex;
    justify-content:flex-end;
    color: #8C8C94;    
}

@media (max-width: 375px) {
    
    main , header {
        width: 95%;
        margin: 5%;
    }

    

    .seccionTop{   
        flex-direction: column-reverse;
        text-align: center;
    }
     
    .mainIntro{
        padding: 0;
        font-size:.9em
    }

    .mainIntro p{
        line-height: 2em;
        padding: 0 10% !important;
    }

    .mainIntro h1, .mainIntro p, .mainIntro div{
        padding: 5% 0;
    }

    .seccionTop img{
        width:100%
    }

    .secctionFeatures{
        flex-direction: column
    }

    .sectionFeaturesLeft{
        text-align: center;
    }

    
    .sectionFeaturesLeft p{
        padding: 5% 8%;
        line-height: 2em;
        font-size: 90%;
    }
    
    .sectionFeaturesRight h4{
        background-color:#f3613c1a;
        padding:2% 0;
        border-radius: 50px 0px 0px 50px;
    }

    .sectionFeaturesRight p{
        padding: 4% 0%;
        line-height: 1.75em;
        font-size:90%;
    }

    footer{
        flex-direction: column;
    }

    .seccionRedes div{
        justify-content: center;
        width:100%;
    }
    .nonDisplay{
        display: none !important;
    }

    .personOpinion{
        margin-top:25%
    }
    
    .personOpinion img{
        width: 50%;
        position: relative;
        left: 25%;
    }
  }
  